// CSS For Left navigation-color

$body-bg: #fff;
$font-color: #666;

$primary-color: #303030;

$content-left-bg : lighten($primary-color, 10%);
$content-left-width : 250px;

$navigation-color : #ADADAD;
$navigation-color-hover : #fff;

$navigation-bg-active : #0A0A0A;
$navigation-color-active : #fff;

$navigation-border-color : lighten($content-left-bg, 10%);
$navigation-icon-color-hover : $navigation-bg-active;

$navigation-sub-bg : $primary-color;
$navigation-sub-border-color : lighten($navigation-sub-bg, 7%);
$navigation-sub-color-active : #fff;



body {

  background-color: $body-bg;
  color: $font-color;
  font-family: "Open sans", Sans-serif;
  padding: 0;
  margin: 0;

}

a {

  text-decoration: none;

}

h1 {

  margin-top: 0;

}

#contentWrapper {

  width: 100%;
  height: 100%;
  position: relative;

}

#contentLeft {

  z-index: 10;
  width: 16.33333%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $content-left-bg;

}

#contentRight {

  padding: 1.3rem 2rem;
  margin-left: $content-left-width;

}



#leftNavigation {

  margin: 0rem 0;

  &, li ul {

    list-style: none;
    padding: 0;

  }

  li {

    a {

      font-size: 0.875rem;
      display: block;
      padding: 0.8rem 1rem 0.8rem 5rem;
      color: $navigation-color;
      border-bottom: solid 1px $navigation-border-color;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;


      &, .leftNavIcon {

        line-height: 120%;

      }


      .leftNavIcon {

        position: absolute;
        top: 0;
        left: 0;

        width: 3rem;
        padding: 0.8rem 0;
        text-align: center;

      }

      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;

      &:hover {

        color: $navigation-color-hover;

      }

    }

    ul {

      display: none;

      margin: 0;
      background-color: $navigation-sub-bg;

      li {

        a {

          border-bottom: solid 1px $navigation-sub-border-color;

        }

        &:last-child {

          a {

            border-bottom: none;

          }

        }

        &.active {

          a {

            color: $navigation-sub-color-active;

          }

        }

      }

    }

    &.active {

      > a {

        color: $navigation-color-active;

      }

      ul {

        display: block;

      }

    }

  }

  > li {

    &.active {

      background-color: $navigation-bg-active;

    }

  }

}

//Logo Area In Side Vertical Nav
.main-logo {
  background-color: #336666;
  height: 4em;
}
//I hate Id's in CSS but the original component used them in it's css, thus the use of an Id. 
#leftNavigation.master li.main-logo a {
  border-bottom: none;
  font-size: 1.2em;
  padding-left: 0em;
  text-align: center;
  padding-top: 1em;
  color: #efefef;
  font-style: italic;
}
li.main-logo a i.fa.fa-bar-chart.leftNavIcon {
  margin-top: .35em;
}

// All Horizontal Nav CSS
.nav-horizontal {
  // height: 4em;
  width: 100%;
  height: 3.9em;
  background-color: #fff;
  position: fixed;
  width: 83.66666%;
  right: 0;
  z-index: 10; 
  //Horizontal Nav Shadow
  -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.3);
}


// Slideout css .
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

// Nav Hamburger CSS
i.material-icons {
  font-size: 2em;
  margin-top: 0.35em;
  margin-left: 0.45em;
}

div.nav-horizontal i:nth-child(2) {
  float: right;
  margin-right: 0.45em;
}


// Mobile Side Nav
.side-nav {
  display: none;
}