/*Custom SCSS*/
// Imports

// Materialize Imports
@import 'variables.scss';
@import "materialize-sass/components/mixins";
@import "materialize-sass/components/color";
@import "materialize-sass/components/variables";

//Material Icons
@import "material-icons";

//Normal Sass Imports
@import 'nav.scss';
@import 'media.scss';


// Resets
body {
	background-color: #efefef;
}

// Custom Updates
h1 {
	font-style: 45px;
	height: 120px;
}


// CARD RESETS
// Materialize Card Link Override
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)  {
	color: #9C9C9C;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover  {
	color: #000;
}

.card .card-title {
    font-size: 18px;
    font-weight: 300;
}



//Div around all card content
.card-wrapper {
	margin-top: 5.8em;
}

// Nav Overrides For Materialize Css
nav ul li {

   float: none;
 
}

@media only screen and (min-width: 601px){

	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	    height: 100%;
	    line-height: 164px;
	}

}

nav {

    color: none;
    background-color: none;

}

//Float right
.fr {float: right;}




